注文履歴一覧

<table class="table table-honer">
    <thead>
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>支払金額</th>
        </tr>
    </thead>
    <tbody>

     <% @orders.each do |order| %>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
     <% end %>

    </tbody>
  </table>